includes:
  - ./../vendor/phpstan/phpstan-phpunit/extension.neon
  - ./../vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  phpVersion: 80300
  level: 0
  paths:
    - ./../src
    - ./../tests
